.booking {
  background-color: var(--background-color);
}

.booking__form {
  padding-bottom: 44px;
}

.booking__fieldset {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.booking-container {
  max-width: 980px;
  margin: 0 auto;
}

.booking__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.booking__label {
  position: relative;
  cursor: pointer;
  min-width: 250px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-weight: 700;
  color: #000;
  z-index: 10;
}

.booking__label:checked:before {
  background-color: #e5abf3;
}

.booking__label:last-child {
  margin-right: 0;
}

.booking__radio {
  -webkit-appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000;
}

.booking__radio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 250px;
  height: 55px;
  background-color: #fff;
  border-radius: 8px;
  z-index: -1;
  border: 3px solid var(--background-color);
}

.booking__radio:checked:before {
  background-color: #e5abf3;
  border: 3px solid var(--background-color);
  transition: all 0.3s ease-in;
}

.booking__radio:hover:before {
  background-color: #EADEED;
  border: 3px solid var(--background-color);
  transition: all 0.3s ease-in;
}

.booking__radio:focus:before {
  border: 3px solid #640AA3;
  transition: border 0.3s ease-in;
}

.booking__radio:active:before {
  background-color: var(--hover-color);
  border: 3px solid #fff;
  transition: all 0.3s ease-in;
}

.booking__legend {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.entertainment__legend {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.booking__legend_info {
  margin-bottom: 60px;
}

.info {
  margin-bottom: 40px;
}

.info__box {
  display: flex;
  justify-content: space-between;
}


.info__fieldset {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.info__date {
  padding-top: 22px;
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
}

.info__label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.info__date-input {
  display: flex;
  width: 135px;
  margin-right: 35px;
  line-height: 28px;
  padding: 11px 8px;
  border: none;
}



.info__date-input:last-child {
  margin-right: 0;
  border: 2px solid var(--background-color);
}

.info__date-lable {
  position: relative;
}

.info__input {
  position: relative;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 20px;
  border: 2px solid var(--background-color);
  margin-bottom: 19px;
}

.info__input:last-child {
  margin-bottom: 0;
}

.info__input:focus {
  border: 2px solid var(--main-color);
  transition: all 0.3s ease-in;
}

.info__date-label {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
}

.entertainment {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.entertainment__fieldset {
  display: flex;
  flex-direction: column;
}

.entertainment__label {
  position: relative;
  margin-right: auto;
  padding-left: 39px;
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 25px;
  cursor: pointer;
}

.entertainment__label:last-child {
  margin-bottom: 0;
}

.entertainment__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #fff;

}

.entertainment__label_type_radio::before {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.entertainment__checkbox:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: blue;
  opacity: 0;
}

.entertainment__checkbox:focus::before {
  content: '';
  position: absolute;
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
}

.entertainment__checkbox_type_radio:focus::before {
  content: '';
  position: absolute;
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
  top: 0px;
  left: 0px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.entertainment__checkbox_type_radio:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.entertainment__checkbox:checked:after {
  opacity: 1;
}

.entertainment__checkbox {
  appearance: none;
  -webkit-appearance: none;

}

.fieldset__name,
.fieldset__phone {
  display: flex;
  flex-direction: column;
}