.booking__text {
  font-size: 30px;
  line-height: 28px
}

.booking__legend {
  font-size: 30px;
  line-height: 28px
}

.entertainment__legend {
  font-size: 30px;
  line-height: 28px
}

.entertainment__label {
  font-size: 22px;
  line-height: 25px;
}



@media(max-width: 1440px) {
  .booking__text {
    font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(24px + (28 - 24) * ((100vw - 320px) / (1440 - 320)));
  }

  .booking__legend {
    font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(24px + (28 - 24) * ((100vw - 320px) / (1440 - 320)));
  }

  .entertainment__legend {
    font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(24px + (28 - 24) * ((100vw - 320px) / (1440 - 320)));
  }

  .entertainment__label {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(22px + (25 - 22) * ((100vw - 320px) / (1440 - 320)));
  }
}

.booking {
  background-color: var(--background-color);
}

.booking__form {
  padding-bottom: 44px;
}

.booking__fieldset {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.booking-container {
  max-width: 980px;
  margin: 0 auto;
}

.booking__text {
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}


.booking__label:last-child {
  margin-right: 0;
}

.booking__radio {
  display: none;
}

.booking__label {
  flex-basis: 250px;
  padding: 7px 0;
  border-radius: 8px;
  color: #000;
  background-color: var(--white-color, #FFF);
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  /* outline: 3px solid transparent; */
  /* transition: background-color .2s ease-in-out, color .2s, outline .2s ease-in-out; */
}

.booking__label:checked {
  background-color: #e5abf3;
  border: 3px solid var(--background-color);
  transition: all 0.3s ease-in;
}

.booking__label:hover {
  background-color: #EADEED;
  border: 3px solid var(--background-color);
  transition: all 0.3s ease-in;
}

.booking__label:focus {
  border: 3px solid #640AA3;
  transition: border 0.3s ease-in;
}

.booking__label:active {
  background-color: var(--hover-color);
  border: 3px solid #fff;
  transition: all 0.3s ease-in;
}

.booking__legend {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.entertainment__legend {
  margin-bottom: 24px;
  font-weight: 700;
}

.booking__legend_info {
  margin-bottom: 60px;
}

.info {
  margin-bottom: 40px;
}

.info__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 14px;
  column-gap: 50px;
}


.info__fieldset {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.info__date {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
}

.info__label {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.persons {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-top: 17px;
}

.info-name {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
}

.info-surname {
  grid-column: 2/3;
  grid-row: 2/3;
}


.info__date {
  width: 100%;
}

.info__date-input {
  display: flex;
  max-width: 134px;
  height: 52px;
  padding: 12px 20px 12px 20px;
  background-image: url("../images/icon/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 30px;
  border: none;
  margin-right: 0;

}



.info__date-input:last-child {
  max-width: 134px;
  height: 52px;
  padding: 12px 20px 12px 20px;
  background-image: url("../images/icon/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 30px;
  border: none;
}

.info__date-lable {
  position: relative;
}

.info__input {
  width: 100%;
  position: relative;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 20px;
  border: 2px solid var(--background-color);

}

.info__input:focus {
  border: 2px solid var(--main-color);
  transition: all 0.3s ease-in;
}

.info__date-label {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
}

.entertainment {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  line-height: 28px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.entertainment__fieldset {
  display: flex;
  flex-direction: column;
}

.entertainment__label {
  position: relative;
  margin-right: auto;
  padding-left: 39px;
  margin-bottom: 22px;
  cursor: pointer;
}

.entertainment__label:last-child {
  margin-bottom: 0;
}

.entertainment__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #fff;

}

.button_color_white {
  background-color: #fff;
  border: 3px solid var(--background-color);
  padding: 16px 43px;
  font-size: 22px;
  line-height: 28px;
  color: var(--hover-color);
  left: 100%;
  transform: translateX(-100%);
}


.entertainment__label_type_radio::before {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.entertainment__checkbox:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: blue;
  opacity: 0;
}

.entertainment__checkbox:focus::before {
  content: '';
  position: absolute;
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
}

.entertainment__checkbox_type_radio:focus::before {
  content: '';
  position: absolute;
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
  top: 0px;
  left: 0px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.entertainment__checkbox_type_radio:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.entertainment__checkbox:checked:after {
  opacity: 1;
}

.entertainment__checkbox {
  appearance: none;
  -webkit-appearance: none;

}

.fieldset__name,
.fieldset__phone {
  display: flex;
  flex-direction: column;
}

@media(max-width: 1250px) {
  .booking__label {
    flex-basis: 215px;
  }
}


@media(max-width: 1100px) {
  .booking__label {
    flex-basis: 180px;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
    border-radius: 6px;
  }



}


@media(max-width: 768px) {
  .booking__label {
    flex-basis: 150px;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 0;
    border-radius: 6px;
  }


  .entertainment__fieldset {
    width: 50%;
    margin-bottom: 32px;
  }

  .entertainment__fieldset:last-child {
    width: 30%;
  }

  .info__box {
    grid-template-columns: 300px 300px;
    grid-template-rows: 110px 1fr 1fr;
    row-gap: 14px;
    justify-content: space-between;
  }

  .button_color_white {
    padding: 16px 50px;
  }


  .persons {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 17px;

  }

  .info-name {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;

  }

  .info-surname {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .booking__fieldset {
    display: flex;
    flex-wrap: wrap;
    row-gap: 33px;
  }
}



@media(max-width: 700px) {
  .info__box {
    grid-template-columns: minmax(280px, 1fr);
    column-gap: 0;
    width: 100%;
  }

  .info__input {
    width: 100%;
  }

  .name {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .phone {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .mail {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .info__date {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 280px;
  }

  .persons {
    grid-column: 1/2;
    grid-row: 2/3;
  }


}

@media(max-width: 650px) {

  .booking__label {
    flex-basis: calc(100% / 2 - (20px * (2 - 1)) /2);
  }




}

@media(max-width: 500px) {

  .booking__label {
    font-size: 14px;
    line-height: 18px;
    padding: 6px 0;
    border-radius: 4px;
  }


  .button_color_white {
    border: 10px;
    padding: 17px 58px;
    font-size: 18px;
    line-height: 26px;
  }

  .booking__text {
    margin-bottom: 15px;
  }

  .booking__fieldset {
    margin-bottom: 30px;
  }

  .booking__legend {
    margin-bottom: 3px;
  }

  .entertainment__fieldset {
    margin-right: 13px;
  }

  .entertainment__fieldset:last-child {
    margin-bottom: 0;
  }

  .entertainment {
    margin-bottom: 30px;
  }

  .info__fieldset {
    margin-bottom: 15px;
  }

  .persons {
    margin-bottom: 50px;

  }

  /* .info__box {
    display: flex;
    flex-direction: column;
  } */

}