.comments__item {
  margin-bottom: 50px;
  height: 319px;
}

.comments__item:last-child {
  margin-bottom: 0;
}

.container-comments {
  padding: 0 100px;
}

.article__img-box {
  position: relative;
  width: 280px;
  max-height: 280px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  margin-bottom: 11px;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.article__img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.article__img-box::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.article__figure {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.article__figcaption {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}


.comments__text {
  font-size: 20px;
  line-height: 28px;
  padding-top: 53px;
}