.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
}

.copyright__text {
  white-space: pre-line;
}

.copyright__mail:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-in;
}