.faq__title {
  margin-top: 0;
}

.faq-list {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(46 / 24);
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq__item {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.faq__item-button {
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  line-height: 46px;
}

.faq__item-svg {
  border-radius: 50%;
  width: 46px;
  max-height: 46px;
  line-height: 1;
  overflow: hidden;
  color: var(--background-color);
  justify-content: flex-end;
}

.faq__item:active .path1 {
  display: none;
}

.faq__item-svg_color_purple {
  color: var(--background-color);
}

.faq__item:nth-child(odd):hover .faq__item-svg_color_purple {
  color: #fff;
  background-color: var(--background-color);
  transition: all 0.5s ease-in;
}

.faq__item-svg_color_white {
  color: #fff;
}

.faq__item:nth-child(even):hover .faq__item-svg_color_white {
  color: var(--background-color);
  background-color: #fff;
  transition: all 0.5s ease-in;
}

.faq__item-text {
  display: inline-block;
}

.faq__item:nth-child(even) {
  background-color: var(--background-color);
  color: #fff;
}


.faq__item:nth-child(odd) {
  color: #1C1A1A;
  background-color: #fff;
}

.faq__item:last-child {
  margin: 0;
}

.faq__item-button_color_white {
  color: #fff;
}

@media(max-width: 500px) {
  .faq__item {
    font-size: 12px;
    line-height: 16px;
  }

  .faq__item-button {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 10px;
    align-items: center;
    text-align: left;

  }

  .faq__item-svg {
    width: 30px;
    height: 30px;
  }

  .faq__item {
    line-height: 30px;
  }

  .contacts__box {
    flex-direction: column;
  }

}