@font-face {
  font-family: "Arial";
  src: local("Arial"), local("Arial-Regular"), url('../fonts/Arial.woff2') format("woff2"),
    url('../fonts/Arial.woff') format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial-Bold";
  src: local("Arial-Bold"), url('../fonts/Arial-Bold.woff2') format("woff2"),
    url('../fonts/Arial-Bold.woff') format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Arial-Black";
  src: local("Arial-Black"), url('../fonts/Arial-Black.woff2') format("woff2"),
    url('../fonts/Arial-Black.woff') format("woff");
  font-weight: 900;
  font-display: swap;
}