.footer {
  background: var(--footer-gradient);
}

.contacts {
  display: flex;
  margin-bottom: 156px;
  justify-content: space-between;
}

.contacts__box {
  display: flex;
  flex-direction: column;
}

.footer__map {
  width: 680px;
  height: 274px;
}

.address {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  background-size: 680px 274px;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}

.address__text {
  padding-left: 62px;
  background-position: center left;
  background-repeat: no-repeat;
}

.address__text_location {
  margin: 0 0 38px;
  line-height: 28px;
  white-space: pre-line;
  background-image: url('../images/icon/location.svg');
}

.address__text_phone {
  margin: 0 0 11px;
  background-image: url('../images/icon/phone.svg');

}

.address__text_mail {
  margin-bottom: 0;
  background-image: url('../images/icon/mail.svg');
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: var(--hover-color);
  transition: color 0.3s ease-in;
}

.footer__social-list {
  height: 50px;
}

.footer__social-item {
  margin-right: 26px;
  display: inline-block;
  text-align: center;
}

.footer__social-item:last-child {
  margin: 0;
}

.footer__social-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  width: 50px;
  height: 50px;
}

.footer__social-link:hover {
  color: var(--main-color);
  transition: color 0.3s ease-in;
}

@media(max-width: 1024px) {
  .footer__social-item svg {
    width: 40px;
    height: 40px;
  }

  .footer__map {
    width: 542px;
    height: 274px;
  }

  .footer__social-list {
    height: 40px;
  }
}



@media(max-width: 1000px) {
  .contacts {
    justify-content: space-between;
    flex-direction: column;
  }

  .address {
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    margin: 0 auto 35px;
    min-width: 340px;
  }

  .contacts__box {
    text-align: center;
  }

  .address__text {
    padding-left: 0;
    background-size: 26px;
    margin: 0 auto;
  }

  .footer__social-list {
    margin-bottom: 35px;
  }

  .footer__map {
    margin: 0 auto;
  }

  .address__text_location {
    background-position: top -1px left 66px;
  }

  .address__text_phone {
    background-position: center left 26px;
  }

  .address__text_mail {
    background-position: center left 3px;
  }

}


@media(max-width: 768px) {
  .contacts {
    margin-bottom: 156px;
  }

  .address {
    font-size: 14px;
    line-height: 18px;
    min-width: 280px;
  }

  .address__text_location {
    margin-bottom: 10px;
  }

  .address__text_location {
    background-position: top -1px left 71px;
  }

  .address__text_phone {
    background-position: center left 50px;
  }

  .address__text_mail {
    background-position: center left 32px;
  }

  .address__text_location {
    line-height: 18px;
    padding-top: 5px;
  }



  .footer__social-link {
    width: 30px;
    height: 30px;
  }


  .footer__map {
    width: 688px;
    height: 337px;
    margin: 0 auto;
  }

  .contacts {
    margin-bottom: 63px;
  }


  .copyright {
    flex-direction: column;
    text-align: center;
  }

  .copyright__text {
    margin-bottom: 20px;
    line-height: 16px;
  }

  .copyright__text:nth-last-child() {
    margin-bottom: 0;
  }
}

@media(max-width: 500px) {

  .footer__social-item svg {
    width: 30px;
    height: 30px;
  }

  .contacts {
    margin-bottom: 156px;
    justify-content: space-between;
    flex-direction: column;
  }

  .address {
    font-size: 14px;
    line-height: 18px;
  }

  .address__text_location {
    margin-bottom: 10px;
  }

  .contacts__box {
    text-align: center;

  }

  .address__text_location {
    line-height: 18px;
  }

  .footer__social-list {
    margin-bottom: 35px;
    height: 30px;
  }

  .footer__social-link {
    width: 30px;
    height: 30px;
  }


  .footer__map {
    height: 194px;
  }

  .contacts {
    margin-bottom: 63px;
  }


  .copyright {
    flex-direction: column;
    text-align: center;
  }

  .copyright__text {
    margin-bottom: 20px;
    line-height: 16px;
  }

  .copyright__text:nth-last-child() {
    margin-bottom: 0;
  }

  .address {
    margin-bottom: 30px;
  }

}

@media(max-width: 320px) {

  .address__text {
    padding-left: 0;
    background-size: 20px;
  }

  .address__text_location {
    background-position: top 3px left 76px;
  }

  .address__text_phone {
    background-position: center left 55px;
  }

  .address__text_mail {
    background-position: center left 40px;
  }
}