.prev-halls__bg {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}



.prev-halls__title {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 80%;
}

.prev-halls__bg_hall_vibes {
  background-image: url('../images/vibes/prev.jpg');
}

.prev-halls__bg_hall_starwars {
  background-image: url('../images/starwars/prev.jpg');
}

.prev-halls__bg_hall_wildwest {
  background-image: url('../images/wildwest/prev.jpg');
}


.prev-halls__bg_hall_neon {
  background-image: url('../images/neon/prev.jpg');
}

.prev-halls__text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.back-box {
  display: flex;

}


.back-halls__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hall-about__box {
  display: flex;
  align-items: center;
  grid-gap: 80px;
}


@media(max-width: 1024px) {
  .prev-halls__bg {
    margin-bottom: 70px;
  }

  .prev-halls__title {
    font-size: 90px;
    line-height: 80px;
  }

  .prev-halls__text {
    font-size: 20px;
    line-height: 30px;
  }

  .hall-about__img {
    width: 460px;
    height: 325px;
  }

  .hall-about__box {
    grid-gap: 30px;
  }

}

@media(max-width: 800px) {
  .hall-about__img {
    width: 329px;
    height: 326px;
  }

  .prev-halls__title {
    font-size: 60px;
    line-height: 72px;
  }

  .prev-halls__text {
    font-size: 16px;
    line-height: 24px;
  }

}

@media(max-width: 768px) {
  .prev-halls__bg {
    margin-bottom: 60px;
  }

  .prev-halls__title {
    font-size: 60px;
    line-height: 72px;
  }

  .prev-halls__text {
    font-size: 16px;
    line-height: 24px;
  }

}


@media(max-width: 600px) {
  .hall-about__box {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 1fr 100%;
  }

  .hall-about__box {
    gap: 15px;
    flex-direction: column;
  }

  .hall-about__img {
    width: 100%;
  }
}



.hall-about__text {
  text-align: left;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 28px;
}

.hall-about__text:last-child {
  padding-bottom: 0;
}

.others-halls__list {
  display: flex;
  gap: 20px;
}

@media(max-width: 600px) {
  .others-halls__list {
    flex-direction: column;
  }
}


@media(max-width: 500px) {
  .prev-halls__bg {
    margin-bottom: 30px;
  }

  .prev-halls__title {
    font-size: 30px;
    line-height: 36px;
  }
}