.prev__container {
  position: relative;
  min-height: 823px;
}

.prev {
  padding: 50px 0 50px;
}

.prev__img {
  position: absolute;
  width: 675px;
  height: 762px;
  bottom: 0;
  right: 15px;
}

.prev__title {
  margin: 0;
  font-size: 150px;
  line-height: 100%;
  font-family: Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -15px;
}

.prev__subtitle {
  margin: 0;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 0;
  padding-left: 100px;
  margin-bottom: 65px;
}

.section {
  padding: 50px 0;
}

.halls__list {
  display: block;
  list-style: none;
  height: 720px;
  margin: 0;
  padding: 0;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.halls__item {
  float: left;
  width: 580px;
  margin: 0 20px 20px 0;
  padding: 135px 0;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.halls__item:nth-last-child(3) {
  margin: 0 0 20px 0
}

.halls__item:nth-last-child(2) {
  margin: 0 20px 0 0;
}

.halls__item:nth-last-child(1) {
  margin: 0;
}

.halls__item_theme_vibes {
  background-image: url("../images/hall/vibes.jpg");
}

.halls__item_theme_starwars {
  background-image: url("../images/hall/star-wars.jpg");
}

.halls__item_theme_wildwest {
  background-image: url("../images/hall/wild-west.jpg");
}

.halls__item_theme_neon {
  background-image: url("../images/hall/neon-style.jpg");
}

.halls__link {
  color: #fff;
  text-decoration: none;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  cursor: pointer;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.comments__item {
  margin-bottom: 50px;
  height: 319px;
}

.comments__item:last-child {
  margin-bottom: 0;
}

.container-comments {
  padding: 0 100px;
}

.article__img {
  margin-bottom: 11px;
}

.article__figure {
  float: left;
  margin-right: 20px;
}

.article__figcaption {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}


.comments__text {
  font-size: 20px;
  line-height: 28px;
  padding-top: 53px;
}

.about {
  line-height: 28px;
  padding: 50px 0 39px;
}

.about__img {
  float: left;
  margin-right: 80px;
}

.about__box {
  margin-bottom: 48px;
}

.about__text {
  margin: 0 0 30px;
  white-space: pre-line;
}

.about__text:last-child {
  margin-bottom: 0;
}

.booking {
  background-color: #440F51;
}

.blockquote {
  display: flow-root;
  margin: 0;
  font-style: normal;
}

.blockquote__text {
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-line;
}

.blockquote__text:after {
  content: " ”";
  color: #6C0287;
  font-weight: 900;
  width: 39px;
  height: 35px;
}

.blockquote__text::before {
  content: "“";
  position: absolute;
  color: #6C0287;
  font-weight: 900;
  top: -8px;
  left: 0;
}


.blockquote__author {
  margin: 0;
  white-space: pre-line;
  line-height: 28px;
  max-width: 400px;
  padding-right: 59px;
  float: right;
  height: 80px;
}

.blockquote__img {
  width: 80px;
  height: 80px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 -10px;
  float: right;
}

.address {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  background-image: url("../images/map.jpg");
  background-size: 680px 274px;
  background-position: right;
  background-repeat: no-repeat;
}

.address__text {
  padding-left: 62px;
  background-position: center left;
  background-repeat: no-repeat;
}

.address__text_location {
  margin: 0 0 38px;
  line-height: 28px;
  white-space: pre-line;
  background-image: url('../images/icon/location.svg');
}

.address__text_phone {
  margin: 0 0 11px;
  background-image: url('../images/icon/phone.svg');

}

.address__text_mail {
  margin: 0 0 35px 0;
  background-image: url('../images/icon/mail.svg');
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.footer__social-list {
  height: 50px;
}

.footer__social-item {
  margin-right: 26px;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
}

.footer__social-item:last-child {
  margin: 0;
}

.footer__social-link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}