.header {
  padding: 30px 0 10px;
  display: flex;
}

.header__img {
  width: 120px;
  height: 66px;
}

.menu-burger {
  display: none;
}

.header__nav {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 50px;
  flex-wrap: wrap;
}

.header__list {
  display: flex;
  gap: 40px;

}

.header__link {
  transition: color 0.3s ease-in;
  position: relative;
}

.header__link:hover {
  color: var(--hover-color);
}

.header__link:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 24px;
  width: 0;
  height: 3px;
  background-color: var(--hover-color);
  transition: width 0.3s ease-in;
}

.header__link::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 24px;
  width: 0;
  height: 3px;
  background-color: var(--hover-color);
  transition: width 0.3s ease-in;
}

.header__link:hover::before {
  width: 50%;
}

.header__link:hover::after {
  width: 50%;
}

.header__item:last-child {
  margin-right: 0;
}

.header__button {
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 13px 29px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
}

.header__button:hover {
  background-color: var(--hover-color);
  border: 3px solid var(--hover-color);
}

.header__button:focus {
  background-color: var(--hover-color);
  border: 3px solid var(--hover-color);
}

.header__button:active {
  background-color: var(--main-color);
  border: 3px solid #000;
}

@media(max-width: 1100px) {
  .header__img {
    width: 87px;
    height: 55px;
  }

  .header__list {
    display: flex;
    gap: 20px;
  }

  .header__button {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 26px;
    border-radius: 8px;
  }

}

@media(max-width: 1000px) {
  .header__logo {
    display: flex;
    margin-right: 10px;
  }
}


.header {
  justify-content: space-between;
  width: 100%;
}

@media(max-width: 950px) {
  .header__nav {
    display: none;
  }

  .menu-burger {
    display: block;
  }


}

@media(max-width: 560px) {
  .header {
    padding: 20px 0 20px;
    display: flex;
  }

  .munu-burger {
    width: 39px;
    height: 20px;
  }

  .header__button {
    display: none;
  }

  .header__img {
    width: 66px;
    height: 42px;
  }
}