.header {
  padding: 30px 0 10px;
  display: flex;
}

.header__img {
  width: 120px;
  height: 66px;
}

.header__nav {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 22px;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 96px;
}

.header__list {
  display: flex;
  margin-right: 97px;

}

.header__item {
  margin-right: 40px;
}

.header__link {
  transition: color 0.3s ease-in;
  position: relative;
}

.header__link:hover {
  color: var(--hover-color);
}

.header__link:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 24px;
  width: 0;
  height: 3px;
  background-color: var(--hover-color);
  transition: width 0.3s ease-in;
}

.header__link::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 24px;
  width: 0;
  height: 3px;
  background-color: var(--hover-color);
  transition: width 0.3s ease-in;
}

.header__link:hover::before {
  width: 50%;
}

.header__link:hover::after {
  width: 50%;
}

.header__item:last-child {
  margin-right: 0;
}

.header__button {
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 13px 29px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
}

.header__button:hover {
  background-color: var(--hover-color);
  border: 3px solid var(--hover-color);
}

.header__button:focus {
  background-color: var(--hover-color);
  border: 3px solid var(--hover-color);
}

.header__button:active {
  background-color: var(--main-color);
  border: 3px solid #000;
}