.prev__container {
  position: relative;
  min-height: 823px;
}

.prev {
  position: relative;
  padding: 50px 0 50px;
}

.prev__img {
  position: absolute;
  width: 675px;
  height: 762px;
  bottom: 0;
  right: 15px;
  z-index: 1;
}

.prev__title {
  margin: 0;
  font-size: 150px;
  line-height: 100%;
  font-family: Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -15px;
}

.prev__subtitle {
  margin: 0;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 0;
  padding-left: 100px;
  margin-bottom: 65px;
}


.prev__arrow-link {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  outline: 1px solid transparent;
  max-height: 97px;
}

.prev__arrow-link svg {
  border-radius: 50%;
  overflow: hidden;
}

.prev__arrow-link svg:hover {
  color: #440F51;
  background-color: #fff;
  transition: all 0.3s;
}

.prev__arrow-link:focus {
  outline-color: #CD06FF;
  outline-offset: 1px;
}

.prev__arrow-link svg:active {
  color: #fff;
  background-color: #CD06FF;
  transition: all 0.3s;
}

.prev__arrow-link:active circle {
  stroke: #CD06FF;
}


.prev-info {
  display: flex;
  position: relative;
  margin-bottom: 150px;
  z-index: 5;
}

.prev-info__list {
  margin-bottom: 150px;
}

.prev-info__item {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  text-align: center;
  justify-content: flex-end;
}

.prev-info__item:last-child {
  margin-right: 0;
}

.prev-info__title {
  font-weight: 900;
  color: #CD06FF;
  margin-bottom: 28px;
}

.prev-info__title_type_numeric {
  font-size: 100px;
}

.prev-info__title_type_text {
  font-size: 75px;
  font-variant: small-caps;
}

.prev-info__text {
  white-space: pre-line;
  font-size: 30px;
}