@media(min-width: 1440px) {
  .halls__item {
    padding-top: calc(50px + (94 - 50) * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: calc(50px + (94 - 50) * ((100vw - 320px) / (1440 - 320)));
  }

  .halls__link {
    font-size: calc(26px + (70 - 26) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(34px + (80 - 34) * ((100vw - 320px) / (1440 - 320)));
  }
}

@media(max-width: 1440px) {
  .halls__item {
    padding-top: calc(50px + (94 - 50) * ((100vw - 320px) / (1440 - 320)));
    padding-bottom: calc(50px + (94 - 50) * ((100vw - 320px) / (1440 - 320)));
  }

  .halls__link {
    font-size: calc(26px + (70 - 26) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(34px + (80 - 34) * ((100vw - 320px) / (1440 - 320)));
  }

}


.price-list__list {
  display: grid;
  row-gap: 40px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 70px;
}

.price-list__item {
  display: grid;
  padding: 166px 40px 6px;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-line;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.price-list__item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.price-list__item_bg_vr {
  background-image: url("../images/price-list/01.jpg");
}

.price-list__item_bg_audio {
  transform: translateY(70px);
  background-image: url("../images/price-list/02.jpg");
}

.price-list__item_bg_audio:hover {
  transform: translateY(70px) scale(1.1);
}

.price-list__item_bg_karaoke {
  background-image: url("../images/price-list/03.jpg");
}

.price-list__item_bg_game {
  background-image: url("../images/price-list/04.jpg");
}

.price-list__item_bg_films {
  background-image: url("../images/price-list/05.jpg");
  transform: translateY(70px);
}

.price-list__item_bg_films:hover {
  transform: translateY(70px) scale(1.1);
  background-image: url("../images/price-list/05.jpg");
}

.price-list__item_bg_playStation {
  background-image: url("../images/price-list/06.jpg");
}

@media(max-width: 1250px) {

  .price-list__list {
    row-gap: 30px;
    column-gap: 20px;
  }
}



@media(max-width: 1000px) {
  .price-list__list {
    padding-bottom: 0;
  }
}




@media(max-width: 1024px) {

  .price-list__item {
    padding: 114px 20px 5px;
  }

}

@media(max-width: 768px) {

  .price-list__item {
    padding: 133px 30px 12px;
  }

  .price-list__list {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .price-list__item_bg_audio {
    transform: translateY(0);
  }

  .price-list__item_bg_films {
    transform: translateY(0);
  }

}