* {
  box-sizing: border-box;
}

body {
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.blockquote {
  text-transform: uppercase;
}