* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1b1a1b;
  color: #ffffff;
}

.wrapper {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.faq {
  margin-bottom: 100px;
}
