@font-face {
  font-family: "Arial";
  src: local("Arial"), local("Arial-Regular"), url('../fonts/Arial.woff2') format("woff2"),
    url('../fonts/Arial.woff') format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial-Bold";
  src: local("Arial-Bold"), url('../fonts/Arial-Bold.woff2') format("woff2"),
    url('../fonts/Arial-Bold.woff') format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Arial-Black";
  src: local("Arial-Black"), url('../fonts/Arial-Black.woff2') format("woff2"),
    url('../fonts/Arial-Black.woff') format("woff");
  font-weight: 900;
  font-display: swap;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1b1a1b;
  color: #ffffff;
  font-weight: 400;
}

address {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 35px 0;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.faq {
  margin-bottom: 100px;
}

footer {
  margin-bottom: 50px;
}